<h1>Customers</h1>
<ul>
  <li *ngFor="let customer of customers">
    <table>
      <tr>
        <td class="leftColumn">
          <span class="label">First Name</span>
        </td>
        <td>
          {{customer.firstName}}
        </td>
      </tr>
      <tr>
        <td class="leftColumn">
          <span class="label">Last Name</span> 
        </td>
        <td>
          {{customer.lastName}}
        </td>
      </tr>
      <tr>
        <td class="leftColumn">
          <span class="label">Email</span>
        </td>
        <td>
          {{customer.email}}
        </td>
      </tr>
      <tr>
        <td class="leftColumn">
          <span class="label">Address</span> 
        </td>
        <td>
          {{customer.address}}
        </td>
      </tr>
      <tr>
        <td class="leftColumn">
          <span class="label">Phone number</span> 
        </td>
        <td>
          {{customer.phoneNumber}}
        </td>
      </tr>
      <tr>
        <td class="leftColumn">
          <span class="label">Date of birth</span>
        </td>
        <td>
          {{customer.dateOfBirth | date:'yyyy-MM-dd'}}
        </td>
      </tr>
    </table>
  </li>
</ul>
