<h1>Customers</h1>
<div>
  <input type="button" (click)="addCustomerClick()"  class="btn btn-primary margin-small" value="New Customer"/>
  <div *ngIf="addingCustomer" class="popup">
    <form [formGroup]="addCustomerForm" (ngSubmit)="onSubmit()">
      <div class="form-group" [formGroup]="addCustomerForm">
        <label class="label" for="firstName">First name</label>
        <input class="form-control form-input" formControlName="firstName" type="text" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">First name is required</div>
        </div>
      </div>
      <div class="form-group" [formGroup]="addCustomerForm">
        <label class="label" for="lastName">Last name</label>
        <input class="form-control form-input" formControlName="lastName" type="text" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">First name is required</div>
        </div>
      </div>
      <div class="form-group" [formGroup]="addCustomerForm">
        <label class="label" for="email">Email</label>
        <input class="form-control form-input" formControlName="email" type="text" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
      </div>
      <div class="form-group" [formGroup]="addCustomerForm">
        <label class="label" for="dob">Date of birth</label>
        <input class="form-control form-input" formControlName="dob" type="date" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
        <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
          <div *ngIf="f.dob.errors.required">Date of birth is required</div>
        </div>
      </div>
      <div class="form-group" [formGroup]="addCustomerForm">
        <label class="label" for="phoneNumber">Phone Number</label>
        <input class="form-control form-input" formControlName="phoneNumber" type="tel" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
        <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
          <div *ngIf="f.phoneNumber.errors.required">Phone number is required</div>
        </div>
      </div>
      <div class="form-group" [formGroup]="addCustomerForm">
        <label class="label" for="address">Address</label>
        <textarea class="form-control form-input" formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"></textarea>
        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
          <div *ngIf="f.address.errors.required">Address is required</div>
        </div>
      </div>
      <div  [formGroup]="addCustomerForm">
        <button  class="btn btn-primary" (click)="cancelClick()">Cancel</button>
        <button [disabled]="loading" class="btn btn-primary right">Add</button>
        <img *ngIf="loading" class="right" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
    </form>
  </div>
  <ul>
    <li *ngFor="let customer of customers">
      <table>
        <tr>
          <td class="leftColumn">
            <span >First name</span>
          </td>
          <td>
            {{customer.firstName}}
          </td>
        </tr>
        <tr>
          <td class="leftColumn">
            <span >Last name</span>
          </td>
          <td>
            {{customer.lastName}}
          </td>
        </tr>
        <tr>
          <td class="leftColumn">
            <span >Email</span>
          </td>
          <td>
            {{customer.email}}
          </td>
        </tr>
        <tr>
          <td class="leftColumn">
            <span >Address</span>
          </td>
          <td>
            {{customer.address}}
          </td>
        </tr>
        <tr>
          <td class="leftColumn">
            <span >Phone number</span>
          </td>
          <td>
            {{customer.phoneNumber}}
          </td>
        </tr>
        <tr>
          <td class="leftColumn">
            <span >Date of birth</span>
          </td>
          <td>
            {{customer.dateOfBirth | date:'yyyy-MM-dd'}}
          </td>
        </tr>
      </table>
    </li>
  </ul>
</div>
