<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.formattedNameEmail()"  [term]="t"></ngb-highlight>
</ng-template>
<div>

  <div *ngIf="viewingEditDate" class="popup">
    <form [formGroup]="viewEditDateForm" (ngSubmit)="onSubmit()">
      <div class="form-group" [formGroup]="viewEditDateForm">
        <label class="input-label" for="datetime">Date Time</label>
        <input class="form-control form-input" formControlName="datetime" type="datetime-local" [ngClass]="{ 'is-invalid': submitted && viewEditDateForm.controls.datetime.errors }" />
        <div *ngIf="submitted && viewEditDateForm.controls.datetime.errors" class="invalid-feedback">
          <div *ngIf="viewEditDateForm.controls.datetime.errors.required">Date Time is required</div>
        </div>
      </div>
      <div class="form-group" [formGroup]="viewEditDateForm">
        <label class="input-label" for="activityInput">Activity</label>

        <select class="form-control form-input"
                formControlName="activity"
                [ngClass]="{ 'is-invalid': submitted && viewEditDateForm.controls.activity.errors }" size="1">
          <option *ngFor="let activity of activitySkus"
                  [ngValue]="activity">
            {{activity.name}}
          </option>
        </select>
        <div *ngIf="submitted && viewEditDateForm.controls.activity.errors" class="invalid-feedback">
          <div *ngIf="viewEditDateForm.controls.activity.errors.required">Activity is required</div>
        </div>
      </div>
      <div>
        <table>
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                James
              </td>
              <td>
                Hardaker
              </td>
              <td>
                james.hardaker@gmail.com
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div [formGroup]="viewEditDateForm">
        <button class="btn btn-primary" type="button" (click)="cancelClick()">Cancel</button>
        <button [disabled]="loading" type="submit" class="btn btn-primary right">Add</button>
        <img *ngIf="loading" class="right" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
    </form>
  </div>



  <div *ngIf="addingDate" class="popup">
    <form [formGroup]="addDateForm" (ngSubmit)="onSubmit()">
      <div class="form-group" [formGroup]="addDateForm">
        <label class="input-label" for="datetime">Date Time</label>
        <input class="form-control form-input" formControlName="datetime" type="datetime-local" [ngClass]="{ 'is-invalid': submitted && addDateForm.controls.datetime.errors }" />
        <div *ngIf="submitted && addDateForm.controls.datetime.errors" class="invalid-feedback">
          <div *ngIf="addDateForm.controls.datetime.errors.required">Date Time is required</div>
        </div>
      </div>
      <div class="form-group" [formGroup]="addDateForm">
        <label class="input-label" for="activityInput">Activity</label>

        <select class="form-control form-input"
                formControlName="activity"
                [ngClass]="{ 'is-invalid': submitted && addDateForm.controls.activity.errors }" size="1">
          <option *ngFor="let activity of activitySkus"
                  [ngValue]="activity">
            {{activity.name}}
          </option>
        </select>
        <div *ngIf="submitted && addDateForm.controls.activity.errors" class="invalid-feedback">
          <div *ngIf="addDateForm.controls.activity.errors.required">Activity is required</div>
        </div>
      </div>
      <div [formGroup]="addDateForm">
        <button class="btn btn-primary" type="button" (click)="cancelClick()">Cancel</button>
        <button [disabled]="loading" type="submit" class="btn btn-primary right">Add</button>
        <img *ngIf="loading" class="right" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
    </form>
  </div>



  <div *ngIf="addingBooking" class="popup">
    <form [formGroup]="addBookingForm" (ngSubmit)="onSubmit()">
      <div class="form-group" [formGroup]="addBookingForm">
        <label class="input-label" for="datetime">Date Time</label>
        <input class="form-control form-input" formControlName="datetime" type="datetime-local" [ngClass]="{ 'is-invalid': submitted && addBookingForm.controls.datetime.errors }" />
        <div *ngIf="submitted && addBookingForm.controls.datetime.errors" class="invalid-feedback">
          <div *ngIf="addBookingForm.controls.datetime.errors.required">Date Time is required</div>
        </div>
      </div>

      <div class="form-group" [formGroup]="addBookingForm">
        <label class="input-label" for="activityInput">Activity</label>

        <select class="form-control form-input"
                formControlName="activity"
                [ngClass]="{ 'is-invalid': submitted && addBookingForm.controls.activity.errors }" size="1">
          <option *ngFor="let activity of activitySkus"
                  [ngValue]="activity">
            {{activity.name}}
          </option>
        </select>
        <div *ngIf="submitted && addBookingForm.controls.activity.errors" class="invalid-feedback">
          <div *ngIf="addBookingForm.controls.activity.errors.required">Activity is required</div>
        </div>
      </div>

      <div class="form-group" [formGroup]="addBookingForm">
        <label class="input-label" for="customer">Customer</label>

        <input id="customer"
               type="text"
               class="form-control form-input"
               [(ngModel)]="searchModel"
               [resultTemplate]="rt"
               [resultFormatter]="formatter"
               [inputFormatter]="inputFormatter"
               [ngbTypeahead]="search"
               (focus)="focus$.next($event.target.value)"
               (click)="click$.next($event.target.value)"
               #instance="ngbTypeahead"
               formControlName="customer"
               [ngClass]="{ 'is-invalid': submitted && addBookingForm.controls.customer.errors }"
               (keypress)="searchCustomer($event)" />

        <button (click)="searchCustomer()" type="button" class="btn btn-primary"><i class="fa fa-search right"></i></button>

        <div *ngIf="submitted && addBookingForm.controls.customer.errors" class="invalid-feedback">
          <div *ngIf="addBookingForm.controls.customer.errors.required">Customer is required</div>
        </div>
      </div>
      <div class="form-group" [formGroup]="addBookingForm">
        <label class="input-label" for="numPersons">Persons</label>
        <input class="form-control form-input" formControlName="numPersons" type="text" [ngClass]="{ 'is-invalid': submitted && addBookingForm.controls.numPersons.errors }" />
        <div *ngIf="submitted && addBookingForm.controls.numPersons.errors" class="invalid-feedback">
          <div *ngIf="addBookingForm.controls.numPersons.errors.required">Persons is required</div>
        </div>
      </div>

      <div class="form-group" [formGroup]="addBookingForm">
        <label class="input-label" for="confirmed">Confirmed</label>
        <input class="form-control form-input-checkbox " formControlName="confirmed" type="checkbox" />
      </div>
      <div class="form-group" [formGroup]="addBookingForm">
        <label class="input-label" for="paid">Paid</label>
        <input class="form-control form-input-checkbox" formControlName="paid" type="checkbox" />
      </div>
      <div [formGroup]="addBookingForm">
        <button class="btn btn-primary" type="button" (click)="cancelClick()">Cancel</button>
        <button [disabled]="loading" type="submit" class="btn btn-primary right">Add</button>
        <img *ngIf="loading" class="right" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
    </form>
  </div>



  <mwl-demo-component [events]="activityDates"
                      [addBooking]="addBooking"
                      [appendBooking]="appendBooking"
                      [deleteBooking]="deleteBooking"
                      [viewEditBooking]="viewEditBooking"
                      [addDate]="addDate"
                      [eventClicked]="bookingClicked"
                      [refresh]="refresh"></mwl-demo-component>
</div>
