<div class='main-nav'>
  <a class='navbar-brand' [routerLink]='["/"]'><img src="../../assets/Images/logo.png" /></a>  
  <div class='navbar' [ngClass]='{ "in": isExpanded }'>
    <ul class='nav navbar-nav'>
      <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a [routerLink]='["/"]' (click)='collapse()'>
          <span></span> Home
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/summer"]' (click)='collapse()'>
          <span></span> Summer
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/winter"]' (click)='collapse()'>
          <span></span> Winter
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/authenticate"]' (click)='collapse()'>
          <span></span> Sign Up/In
        </a>
      </li>
    </ul>
  </div>
</div>
