<!--<div>
  <form>
    <div class="login">
      <label for="UserName"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="UserName" required>

      <label for="Password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="Password" required>

      <button type="submit">Login</button>
      <!--<label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <!--<div class="forgotpw" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>-->

<div class="container">
  <h1>Login Form</h1>
  <form (submit)="onSubmit()"  action="api/auth/login" method="post" enctype="application/x-www-form-urlencoded">
    <div class="form-group">
      <label for="UserName">Username</label>
      <input type="text" class="form-control" id="UserNameInput" required  [(ngModel)]="model.UserName" name="UserName" #name="ngModel">
    </div>

    <div class="form-group">
      <label for="Password">Password</label>
      <input type="text" class="form-control" id="PasswordInput" required  [(ngModel)]="model.Password" name="Password" #name="ngModel">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
